---
layout: default
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ProfilePage",
  "mainEntity": {
    "@type": "Person",
    "name": "Sebastian Edward",
    "url": "{{ site.url }}",
    "image": "{{ site.url }}/avatar.jpg",
    "jobTitle": "Software Engineer",
    "description": "{{ site.description }}",
    "knowsAbout": ["Open Source", "Java"],
    "sameAs": [
      "https://github.com/sebastian-edward"
    ]
  }
}
</script>

<div class="row">
    <div class="col-12">
        Software engineering student interested in distributed systems, databases, and backend infrastructure.
    </div>
</div>
<section class="posts">
    <h3 id="recent-posts">Recent Posts</h3>
    {%- if site.posts.size > 0 -%}
    <ul>
        {%- for post in site.posts limit:10 -%}
        <li>
            <h4>
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </h4>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <p class="post-meta">{{ post.date | date: date_format }}</p>
            {%- if post.description -%}
            <p class="post-description">{{ post.description }}</p>
            {%- endif -%}
        </li>
        {%- endfor -%}
    </ul>
    {%- if site.posts.size > 10 -%}
    <p><a href="/posts/">View all posts</a></p>
    {%- endif -%}
    {%- endif -%}

</section>